<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{203,188},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,133}</string>
                <key>textureRect</key>
                <string>{{153,1},{128,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{153,136},{50,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprite00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,200}</string>
                <key>spriteSourceSize</key>
                <string>{61,200}</string>
                <key>textureRect</key>
                <string>{{1,190},{61,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoruo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,187}</string>
                <key>spriteSourceSize</key>
                <string>{150,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pics.png</string>
            <key>size</key>
            <string>{282,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf3f9fdc15ed3df6399e3c7e6f6fee1c:c0fc4c3682367a55815d4f0fa3c8527c:d0d6ded3f9571d55195d795f22e51fc8$</string>
            <key>textureFileName</key>
            <string>pics.png</string>
        </dict>
    </dict>
</plist>
